
.PaddingBar{
  padding-top: 1em;
  text-align: left;
}
.ProjectBox{
  width:100%;
  min-width:10vh;
  height:30vh;
  flex: auto ;
  border-radius: 1em;
  box-shadow: 1px -1px 5px #888888;
  margin-bottom: 2em;
}
.ProjectBox:hover {
  transform: scale(0.95);
  box-shadow: 0px 0px 10px #888888;
}
.OverlayBox{
  position: relative;
  text-decoration: none;
  color: black;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: white;
  border-radius: 1em;
  padding: 2em
}
.OverlayBox:hover .overlay {
  opacity: 1;
}
.ProjectPic{
  width:100%;
  min-width:10vh;
  height:30vh;
  object-fit: cover;
  overflow: hidden;
  border-radius: 1em 1em 1em 1em;
}
.Graf{
  width:100%;
  height:32vh;
  object-fit: cover;
  overflow: hidden;
}
.HidePhone {
  display: block;
}
.TextFont{
  font-size: 1em;
  padding-top: 1em;
}
.HidePC{
  display: none;
}

.MainFormat {
  text-align: center;
}
.Tittle{
  text-align: center;
  color: #0097a7;
  font-weight: bold;
  font-size: 4em;
}
.SubTittle{
  text-align: center;
  font-weight: lighter;
  color: #8b8b8b;
  font-size: 2em;
}
.LinkStyle{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.ButtonStyle{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1em;
  padding: 0.5em;
}
.ButtonStyle:hover {
  color: #0B5ED8;
}
.ButtonSelec{
  text-decoration: none;
  color: #0B5ED8;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.5em;
}
.IconStyle{
  text-decoration: none;
  font-size: 1.2em;
  padding-left:0.5em;
  padding-right: 0.5em;
  display: inline;
}
.IconStyle:hover {
  color: #0B5ED8;
}
.SettingsBar{
  text-align: left;
}
.GridMain{
  display: grid;
  grid-template-columns: 2fr 12fr;
  grid-template-rows: 1fr;
  text-align: center;
  padding: 4em;
  padding-top: 2em;
}
.GridProjects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}
.Grid4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}
.GPcombine {
  grid-column-start: 1;
  grid-column-end: 5;
}
.GPLeft{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0.7em;
}
.GPRight{
  display: flex;
  justify-content: flex-end;
  padding: 0.7em;
}
.GridBar{
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
  grid-template-rows: 1fr;
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: white;
  padding-top: 0.5em;
  z-index: 1;
}
.GridTwo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: right;
}
.GridTwoGraf{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  text-align: right;
}
.TestBox{
  height: 2.8em;
  width: 10em;
  border-radius: 10em;
  border: none;
  background-color: rgba(00,00,00,.05);
  text-align: left;
  display: flex;
  margin-left: 2em;
  vertical-align: middle;
  margin: 0.5em;
}
.TestBox:hover {
  transform: scale(0.95);
  box-shadow: 0px 0px 10px #888888;
}
.TextBox{
  text-decoration: none;
  color: black;
  font-weight: lighter;
  padding-top: 0.5em;
  padding-left: 1.2em;
}
@media screen and (max-width: 750px) {
  .HidePhone {
    display: none;
  }
  .PaddingBar{
    padding-top: 0.2em;
    text-align: center;
  }
  .TextFont{
    font-size: 1.5em;
  }
  .SubTittle{
    font-size: 1.75em
  }
  .HidePC{
    display: block;
  }
  .ButtonStyle{
    font-size: 1.5em;
  }
  .MainFormat {
    text-align: center;
  }
  .ProjectBox{
    width:100%;
    height:25vh;
    flex: auto ;
    padding: none;
  }
  .ProjectPic{
    height:25vh;
    flex: auto ;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
  }
  .SettingsBar{
    text-align: center;
    padding-left: none;
  }
  .GridMain{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, max-content);
    text-align: center;
    padding: 1em;
    padding-bottom: 3em;
  }
  .GridProjects{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;
  }
  .GPcombine {
    grid-column-start: auto;
    grid-column-end: auto;
  }
  .GridBar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    padding-bottom: 1em;
    bottom: 0;
  }
  .GridTwo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: right;
  }
  .GridTwoGraf{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: right;
  }
  .TextBox{
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    font-weight: lighter;
    padding-top: 0.2em;
    padding-left: 0.8em;
  }
  .TestBox{
    height: 2em;
    width: 7em;
    border-radius: 10em;
    border: none;
    background-color: rgba(00,00,00,.05);
    text-align: left;
    display: flex;
    margin-left: 0.5em;
    vertical-align: middle;
    margin: 0.2em;
  }
  .Grid4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
  }
}
/*
a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}*/
